:root {
  --main-color: #2d3250;
  --text-color: #f6b17a;
  --second-color: #424769;
  --third-color: #7077a1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--main-color);
  padding: 1.4rem 1rem;
  width: 80%;
  margin: 2.2rem auto;
  border-radius: 3rem;
}

header .title {
  line-height: 1.6;
  color: var(--text-color);
}

header .title h2 {
  color: white;
}

main {
  margin: 3rem auto;
  padding: 1rem 3rem;
}

main .noneArticle {
  text-align: center;
  color: var(--third-color);
  font-weight: bold;
}

main .sub-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

main .sub-title p {
  color: var(--second-color);
  font-weight: bolder;
  font-size: large;
}

main .sub-title a {
  color: var(--third-color);
  font-weight: bold;
  text-decoration: underline;
}

main .sub-title a:hover {
  color: var(--text-color);
}

main .article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.article hr {
  margin: 1.2rem 1rem;
  border: 1px solid var(--third-color);
}

.article .article-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 2rem;
}

.article-content .article-title {
  display: flex;
  flex-direction: column;
  margin: 1rem 1.5rem;
  gap: 1.4rem;
}

.article-content .article-title h2 {
  color: var(--text-color);
}

.article-content .article-title p {
  color: var(--third-color);
}

.article-content .btn-action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.article-content .btn-action a {
  color: var(--main-color);
  font-weight: bold;
}

.article-content .btn-action a:hover {
  color: var(--text-color);
}

.article-content .btn-action button {
  color: var(--main-color);
  font-weight: bold;
  font-size: 0.9rem;
  border: none;
  background-color: white;
}

.article-content .btn-action button:hover {
  color: var(--text-color);
}

.article-content article {
  color: var(--main-color);
}

main .form-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 2rem;
}

.form-article form {
  display: flex;
  flex-direction: column;
  border: 2px solid none;
  border-radius: 2rem;
  background-color: var(--main-color);
  padding: 2rem;
  gap: 2rem;
}

.form-article form .input-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.form-article form .input-title label {
  color: var(--text-color);
  font-size: larger;
}

.form-article form .input-title input {
  padding: 0.5rem 1rem;
  width: 60%;
  font-size: medium;
  border: none;
  border-radius: 0.5rem;
  color: var(--third-color);
}

.form-article form .input-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  gap: 1rem;
}

.form-article form .input-content label {
  color: var(--text-color);
  font-size: larger;
}

.form-article form .input-content textarea {
  padding: 1rem;
  font-size: medium;
  color: var(--third-color);
  border-radius: 0.5rem;
  resize: none;
}

.form-article form button {
  margin: auto;
  padding: 0.5rem 1.2rem;
  border: 2px solid white;
  border-radius: 2rem;
  color: white;
  background-color: var(--third-color);
}

.form-article form button:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  border-color: var(--third-color);
}